@font-face {
    font-family: "Friend or Foe Tall BB";
    src: url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.eot");
    src: url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/50866396b50148c96c2b2d6863de46a6.svg#Friend or Foe Tall BB")format("svg");
}

:root {
  font-family: "Friend or Foe Tall BB", sans-serif;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
}