.background {
  width: 30vw;
  height: 60vh;
  padding: 25px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

input {
  font-family: "Friend or Foe Tall BB", sans-serif;
  font-size: 1.5rem;
  padding-left: 1vw;
  align-self: center;
  width: 30vw;
  height: 5vh;
  margin: 10px;
  border-radius: 50px;
  border: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button:first-child {
  background-color: #F34538;
}

.buttons button:last-child {
  background-color: #44A4F2;
}

button {
  font-family: "Friend or Foe Tall BB", sans-serif;
  font-size: 1.5rem;
  width: 10vw;
  height: 5vh;
  border-radius: 50px;
  border: none;
}

button:hover {
  cursor: pointer;
}